.flex-box-container-1 {
    display: flex;
    border: 1px solid black;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.flex-box-container-1 div {
    padding: 10px;
    border: 1px solid black;
}

.container-1,
.container-2,
.container-3 {
    border: 1px solid black;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

#car-generator {
    justify-content: center;
    margin: 10p;
}

.flex-box-container-2,
.flex-box-rps {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid black;
}

.flex-box-container-2 img {
    margin: 10px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.7);
}

.flex-box-rps img:hover {
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.7);
    margin: 10px;
}